body{
    background-color: #1ABC9C;
}

.Home{
    height: 90vh;
}
.line{
    height: 3px;
    width: 80px;
    color: rgb(247, 5, 5);
    border: solid;
    border-color: white;
    border-width: 2px;
    margin:0 20px 0 20px;
}